.footer
{
    max-width: 100%;
    margin-left:auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap:1.5rem;
    margin-top:2rem;
    background:var(--socialicons);
    border-radius: 0.5rem;
    padding:20px;
}
.footer-box
{
    display: flex;
    flex-direction:column;
}
.footer-box p{
    font-size: 1.7rem;
    text-align: start;
    margin:0.5rem 0 1rem;
}
.footer-box h2{
    font-size: 2.5rem;
    padding: .5rem;
   color:var(--blue-color);
}

.footer-box form input{
    font-size: 1.5rem;
}

.social
{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx
{
    padding:10px;
    background: var(--light-blue-color);
    color:white;
    border-radius: 5rem;
    font-size: 20px;
}
.social .bx:hover
{
    background:white;
    color:var(--light-blue-color);
    transition: 0.2s all linear;
}
.footer-box a
{
    font-size: xx-large;
    color:white;
}
.footer-box a:hover
{
    color:var(--light-blue-color);
}
.footer .logo
{
    padding-left:0;
    color:var(--blue-color);
}
/*CopyRight*/
.copyright
{
    text-align:center;
    padding-top:40px;
    color:black;
}