@media (min-width: 768px) {
    .box img {
      height: 50vh !important;
      width: 40vw !important;
    }
    .bx-right-arrow-alt{
        border-color: black;
        padding: 10px;
    }
    .bx-right-arrow-alt:hover{
        background-color: rgb(11, 224, 114);
        border-radius: 25px;
    }
    .box p{
       font-size: x-large !important;
    }
    .review-profile img{
        height: 40vh !important;
        border-radius: 30px;
    }
  }
  .categories{
    padding:0.8rem;
    background-color: #3168a2;
  }
  .categories .heading{
    margin-bottom: 10px;
    background-color: bisque;
    border: solid;
    padding: 0.7rem;
    border-color: black;
  }

  .categories .heading .btn{
    font-size: x-large;
  }
  .footer
    {
    background-color: bisque;
    gap:1.5rem;
    margin-top:2rem;
    border-radius: 0.5rem;
    padding:20px;
}
.footer-box
{
    display: flex;
    flex-direction:column;
}
.footer-box p{
    font-size: 1.7rem;
    text-align: start;
    margin:0.5rem 0 1rem;
}
.footer-box h2{
    font-size: 2.5rem;
    padding: .5rem;
}

.footer-box form input{
    font-size: 1.5rem;
}

.social
{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx
{
    padding:10px;
    color:white;
    border-radius: 5rem;
    font-size: 50px;
}
.social .bx:hover
{
    background:rgb(229, 227, 227);
    transition: 0.2s all linear;
}
.footer-box a
{
    font-size: xx-large;
    color:rgb(7, 7, 7);
}
.footer-box a:hover
{
    color:aqua;
}
.footer .logo
{
    padding-left:0;
    color:var(--blue-color);
}
/*CopyRight*/
.copyright
{
    text-align:center;
    padding-top:40px;
    color:black;
}

/*navbar*/
.navbar {
    background-color: #3168a2;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
}

#home{
    background-image: url("../images/background.jpg");
}

.home-text{
    color:rgba(13, 0, 255, 0.404);
    padding-top:20%;
    padding-left: 10px;
}

.home-text span{
    font-size: 40px;
    font-style: oblique;
    font-weight: 600;
}
.home-text .btn{
    padding-top: 0px;
    font-size: 30px;
    margin: 10px;
}
.home-text h2{
    padding-left: 30px;
    font-style: oblique;
}