#form-container{
    background-image: url("../images/bg-login.avif");
    background-size: cover;
}
.inline{
    display: inline; 
}
input, textarea {
    background-color: #0E3C6D;
    border: 1px solid #0E3C6D;
    color: #ecc39a;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }

  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #0E3C6D;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }

  /*navbar*/
.navbar {
    background-color: #3168a2;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
}
