.property-description p{
    font-size: x-large;
}
#detail-table{
    font-size: 25px;
}
.sidebar{
    font-size: x-large;
}

/*Carousel*/
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
.carousel-control-prev,
.carousel-control-next {
  font-size: 0.75rem;
  width: 2rem;
  height: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 40%;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}


/*navbar*/
.navbar {
    background-color: #3168a2;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
}

/* Footer */
.footer
{
background-color: bisque;
gap:1.5rem;
margin-top:2rem;
border-radius: 0.5rem;
padding:20px;
}
.footer-box
{
    display: flex;
    flex-direction:column;
}
.footer-box p{
    font-size: 1.7rem;
    text-align: start;
    margin:0.5rem 0 1rem;
}
.footer-box h2{
    font-size: 2.5rem;
    padding: .5rem;
}

.footer-box form input{
    font-size: 1.5rem;
}

.social
{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx
{
    padding:10px;
    color:white;
    border-radius: 5rem;
    font-size: 50px;
}
.social .bx:hover
{
    background:rgb(229, 227, 227);
    transition: 0.2s all linear;
}
.footer-box a
{
    font-size: xx-large;
    color:rgb(7, 7, 7);
}
.footer-box a:hover
{
    color:aqua;
}
.footer .logo
{
    padding-left:0;
    color:var(--blue-color);
}


/*review css*/
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.features-items img{
    height:30vh !important;
    padding:1rem ;
}
.feature-item{
    list-style: none;
   height: 50%;
}